[MASTER]

# Use multiple processes to speed up Pylint. Specifying 0 will auto-detect the
# number of processors available to use.
jobs=0

# Pylint doesn't seem to be able to read pydantic imports so we need to
# whitelist the package. https://github.com/samuelcolvin/pydantic/issues/1961
extension-pkg-whitelist=pydantic

load-plugins=pylint_pydantic

ignored-modules=py

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120
max-public-methods=25

[MESSAGES CONTROL]

# Disable the message, report, category or checker with the given id(s).
disable=missing-docstring,
        duplicate-code,
        too-few-public-methods,
        logging-fstring-interpolation,
        broad-except,
        subprocess-run-check,
        no-member,
        attribute-defined-outside-init,
        fixme

[DESIGN]
max-attributes=25
max-args=6
